<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<head lang="fr">
    <title>Les alertes</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <nav>
        <div class="nav-wrapper red lighten-1">
            <div class="container">
                <a th:text="${titre}"></a>
            </div>
        </div>
    </nav>
    <div class = "container">
        <form th:action="@{/report/}" method="get">
            <div class="input-field col s6">
                <select id="region" name="region" required="required">
                    <option value="-1">Toutes les régions</option>
                    <option th:each="region:${regions}"
                            th:value="${region.id}"
                            th:text="${region.name}">My option</option>
                </select>
            </div>
            <div class="input-field col s5 offset-s1">
                <button class="btn waves-effect waves-light red" type="submit">
                    Envoyer
                </button>
            </div>
        </form>
        <table>
            <thead>
            <tr>
                <th>Composant</th>
                <th>Effet indésirable</th>
                <th>Poids</th>
                <th>Déclaration</th>
                <th>Par</th>
                <th>Plus récent</th>
            </tr>
            </thead>
            <tbody>
                <span th:each="report : ${reports}">
                    <tr th:each="comp : ${report.value}">
                        <td th:text="${comp}"></td>
                        <td th:text="${report.key.description}">*toussote*</td>
                        <td th:text="${report.key.weight}">*toussote*</td>
                        <td th:text="${report.key.firstDeclare}">*toussote*</td>
                        <td th:text="${report.key.userDeclare.firstName} + ' ' + ${report.key.userDeclare.lastName}">*toussote*</td>
                        <td th:text="${report.key.lastDeclare}">*toussote*</td>
                    </tr>
                </span>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>