<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
    <head lang="fr">
        <title>Connexion</title>
    </head>
    <body>
        <div class="row" layout:fragment="content">
            <nav>
                <div class="nav-wrapper red lighten-1">
                    <div class="container">
                        <a class="offset-s1">Se connecter</a>
                    </div>
                </div>
            </nav>

            <div class="container">
                <form th:action="@{/login}" class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="username">Email</label>
                            <input id="username" type="email" class="validate" name="username"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" class="validate"/>
                        </div>
                    </div>
                    <div class="row ">
                        <div class ="col s3 offset-s1">
                            <button class="btn waves-effect waves-light red" type="submit"
                                    name="save">Se connecter</button>
                        </div>
                        <div class ="col s3 offset-s1">
                            <a class="btn waves-effect waves-light red" href="/registration"> S'inscrire </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>