<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
    <head lang="fr">
        <title>Search</title>
    </head>
    <body>
        <div class="row" layout:fragment="content">
            <form th:action="login" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" type="text" name ="username"/>
                        <label for="username">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" type="password" name="password"/>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row s12">
                    <button class="btn waves-effect waves-light" type="submit"
                            name="save">Se connecter
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </form>
            <a href="/registration"> S'inscrire </a>
        </div>
    </body>
</html>