<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="fr">
    <title th:text="'Détail du produit' + ${product.id}">Détail du produit</title>
</head>
<body>
<div class="row" layout:fragment="content">

    <nav>
        <div class="nav-wrapper red lighten-1">
            <div class="container">
                <a th:text="${product.name}">Produit</a>
                <a class="right" th:href="@{/product/{orderId}/delete(orderId=${product.id})}">
                    <i class="icon-white material-icons">delete</i>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class ="row s12 valign-wrapper switchVisibilityEditNameToHide">
            <h3 class ="valign" th:text="${product.name}"></h3>
            <a class="btn-flat valign"
               onclick="$('#editButton').hide(); $('.switchVisibilityEditNameToHide').hide(); $('.switchVisibilityEditNameToShow').show();">
                <i class="material-icons">mode_edit</i>
            </a>
        </div>
        <div class ="row s12 switchVisibilityEditNameToShow" hidden="hidden">
            <form class ="valign-wrapper" method="get" th:action="@{/product/{id}/rename(id=${product.id})}">
                <div class="input-field valign">
                    <input type="text" id="editInput" name="name" th:placeholder="${product.name}"/>
                    <label for="editInput">Renommer</label>
                </div>

                <input type="submit" class="input-field valign btn-flat" th:value="valider"/>
            </form>
        </div>


        <div class = "col s4">
            <table>
                <thead>
                    <tr>
                        <th>Composants</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="component : ${product.components}">
                        <td> <a th:text="${component.name}" th:href="@{/component/{orderId}(orderId=${component.id})}">*toussote*</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="row" id="AddComponentHidden" hidden="hidden">
                <div class="input-field col s12">
                    <select id="componentAddSelect" type="text">
                        <option th:each="comp : ${components}" th:value="${comp.id}" th:text="${comp.name}"></option>
                    </select>
                </div>
                <a class="waves-effect waves-light btn red" onclick="addComponent()">
                    <i class="material-icons">add</i>
                    Ajouter un composant
                </a>
            </div>
            <a class="waves-effect waves-light btn red" id="buttonAdd" onclick="$('#buttonAdd').hide(); $('#AddComponentHidden').show();">
                <i class="material-icons">add</i>
                Ajouter un composant
            </a>
        </div>
        <div class = "col s7 offset-s1">
            <table>
                <thead>
                <tr>
                    <th>A pour effet</th>
                    <th>Dernière déclaration</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report : ${reports}">
                    <td th:text="${report.description}">*toussote*</td>
                    <td th:text="${report.lastDeclare}">*toussote*</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">

        /*[+
            var productId   = [[${product.id}]];
         +]*/

        function addComponent() {
            window.location.replace("/product/" + productId + "/addComponent/" + $("#componentAddSelect").val());
        }

    </script>
</div>
</body>
</html>