<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="fr">
    <title>Profil</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <nav>
        <div class="nav-wrapper red lighten-1">
            <div class="container">
                <a class="offset-s1">Profil</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <p th:text="'Id : ' + ${user.id}"></p>
        <p th:text="'Nom : ' + ${user.lastName}"></p>
        <p th:text="'Prénom : ' + ${user.firstName}"></p>
        <p th:text="'Qualité : ' + ${user.work}"></p>
        <p th:text="'Mail : ' + ${user.mail}"></p>
    </div>
</div>
</body>
</html>