<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">
<head lang="fr">
    <title>Search</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/registration}" th:object="${user}" method="post">
                <div class="row">
                        <input id="mail" type="text" th:field="${user.mail}"/>
                        <label for="mail">Email</label>
                </div>
                <div class="row">
                        <input id="password" type="password" th:field="${user.password}"/>
                        <label for="password">Password</label>
                </div>
                <div class="row">
                    <button type="submit"
                            name="save">S'inscrire
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


